*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #f7dfb5;
    z-index: 9;
}

.nav{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 60px;
}
.nav-items{
    display: flex;
    align-items: center;
}

.search{
    width: 500px;
    display: flex;
}

.search-box{
    width: 50%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid  #723d46;
    text-transform: capitalize;
    background: none;
    color: #723d46;
    outline: none;
}

.search-btn{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #723d46;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box::placeholder{
    color: #7a5259;
}

.nav-items a{
    margin-left: 20px;
}

.nav-items a img{
    width: 30px;
}
.links-container{
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d1d1d1;
}

.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #383838;
    opacity: 0.5;
    transition: .5s;
}

.link:hover{
    opacity: 1;
}
/*contact us */
.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1%;
    align-items: center;
    
}

.contact .row form{
    flex:1 1 40rem;
    padding: 1rem 1rem;
    margin: 1%;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid #7a5259;
    background: #fff;
    border-radius: .5rem;
    

}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form .box{
    padding:1rem;
    font-size: 1rem;
    color: #fff;
    text-transform: none;
    border:.1rem solid #7a5259;
    border-radius: .5rem;
    margin:.7rem 0;
    width: 90%;
}

.contact .row form .box:focus{
    border-color:#7a5259 ;
}

.contact .row form textarea{
    height: 10rem;
    resize: none;
}
.heading{
    text-align: center;
    font-size: 4rem;
    color:#f7dfb5;
    padding:1rem;
    margin:2rem 0;
    background:#f7dfb5;
}

.heading span{
    color:#805f64;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:rgb(201, 141, 137);
    color:#583f43;
    padding: 0.3em;
    cursor: pointer;
    font-size: 1.7rem;
    border-color: #723d46;
}

.btn:hover{
    background:#7a5259;
}
